.audio-record-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  background: #f9f9f9;
  cursor: pointer;
}

.audio-record-item:first-child {
  border-top: .1rem solid rgba(0, 0, 0, 0.1);
}

.audio-record-item {
  border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.audio-record-item:hover {
  background-color: #f4f4f4;
}

.audio-record-item.expanded .audio-header {
  margin-bottom: 1rem;
}

.audio-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.2rem 0;
}

.audio-date {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  color: rgb(113, 113, 113);
}

.audio-record-item audio {
  width: 100%;
}

.rhap_container {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  padding: 0 1vw;
}
.rhap_main-controls-button {
  color: #2c2c2c;
}

.rhap_download-progress {
  background-color: rgba(0, 0, 0, 0.1);
}

.rhap_progress-filled {
  background-color: #383838;
}

.rhap_progress-indicator {
  background-color: #383838;
  width: 10px;
  height: 10px;
  top: -2.4px;
}

.rhap_play-pause-button {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.custom-audio-button {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #2476d4;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.rhap_progress-section {
  display: grid;
  grid-template-rows: auto auto; 
  grid-template-columns: 1fr 1fr;
  gap: 8px;                    
}

.rhap_progress-container {
  grid-column: span 2;
  grid-row: 1;
  width: 100% !important;
  margin: 0 !important;
}

.rhap_progress-section > .rhap_time {
  grid-row: 2;
  width: 100%;
  font-weight: 550;
  color: rgb(132, 132, 132);
}

.rhap_current-time {
  text-align: start;
}

.rhap_total-time {
  text-align: end;
}