body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    -webkit-tap-highlight-color: transparent;
}

.auth-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    transform: translateY(-50px);
  }